/* You can add global styles to this file, and also import other style files */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Verdana, Geneva, sans-serif;
  }
  
  body {
    overflow: hidden;
    height: 100%;
  }
  
  /*#######################################################################################################*/
  /*MENU*/
  /*#######################################################################################################*/
  
  
  header {
    width: auto;
    height: 100%;
    font-size: 13px;
    z-index: 1000;
  }
  
    header nav {
      background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
      width: 14%;
      height: 100%;
      margin: 0;
      position: fixed;
      -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
      box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    }
    header nav:hover {
      animation:slidebg 2s linear infinite;
    }
  
      header nav ul {
        list-style: none;
      }
  
        header nav ul:hover {
          background: rgb( 39, 106, 129 );
          transition: 0.3s;
        }
  
        header nav ul li {
          width: 100%;
          display: block;
        }
  
  
          header nav ul li a {
            color: #fff;
            display: block;
            text-decoration: none;
            padding: 20px;
          }
  
  #traducir {
    font-size: 24px;
  }
  
    #traducir i {
      float: left;
      margin-left: 10px;
      margin-top: 22px;
      color: white;
    }
  
    #traducir:hover {
      background: rgb(28, 166, 27 );
      transition: 0.3s;
    }
  
  #python:hover {
    background: rgb(44, 27, 200);
  }
  
  #json:hover {
    background-color: rgb(166, 27, 115);
  }
  
  #html:hover {
    background-color: rgb(212, 38, 38);
  }
  
  header nav ul li .children {
    display: none;
    background:rgb(4, 124, 104);
    width: 100%;
    position: relative;
  }
  
    header nav ul li .children li {
      display: block;
      overflow: hidden;
    }
  
      header nav ul li .children li a {
        display: block;
      }
  
      header nav ul li .children li:hover {
        background: #E6344A;
        transition: 0.3s;
      }
  
  header nav ul li .caret {
    position: relative;
    top: 3px;
    margin-left: 10px;
    margin-right: 0px;
    float: right;
  }
  
  header nav ul i {
    color: white;
    float: left;
    margin-left: 10px;
    margin-top: 22px;
  }
  
  .tab_container {
    width: 100%;
    height: auto;
    position: fixed;
    background-color: rgb(245, 137, 35);
    -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
  }
  
  .container {
    width: 100%;
    height: 100vh;
    margin-left: 20%;
   background-color: #000;
  }
  
  .editor {
    padding-right: 8px;
    width: 50%;
    height: 100%;
    float: left;
  }
  
  .results {
    margin-top: 35px;
    width: 50%;
    height: 100%;
    float: right;
    padding: 25px;
    background-color: rgb(35, 245, 234);
    -webkit-box-shadow: -10px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: -10px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: -10px 0px 0px 0px rgba(0,0,0,0.75);
    font-family: Consolas, Monaco, monospace;
  }
  
  .editor textarea {
    margin-top: 35px;
    overflow: auto;
    resize: none;
    width: 100%;
    height: 100%;
    padding: 25px;
    background-color: rgba( 200, 200, 200, 0.7);
    font-family: Consolas, Monaco, monospace;
  }
  html, body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* define a fixed width for the entire menu */
  .navigation {
  width: 300px;
  }
  
  /* reset our lists to remove bullet points and padding */
  .mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  }
  
  /* make ALL links (main and submenu) have padding and background color */
  .mainmenu a {
  display: block;
  background-image:url('https://www.solofondos.com/wp-content/uploads/2015/12/depositphotos_109561762-stock-photo-vintage-mint-green-wooden-background.jpg');
  background-position: center;
  text-decoration: none;
  padding: 10px;
  color: #000;
  }
  
  /* add hover behaviour */
  .mainmenu a:hover {
    background-color: #C5C5C5;
  }
  
  
  /* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
  */
  
  .mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
  }
  
  /*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
  */
  
  .submenu a {
  background-color:  rgb(105, 245, 240);
  }
  
  /* hover behaviour for links inside .submenu */
  .submenu a:hover {
  background-color:  rgb(35, 245, 234);
  }
  
  /* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
  */
  .submenu {
    background-color :rgb(35, 245, 234);
  overflow: hidden;
  max-height: 0;
  }
  
  /*#######################################################################################################*/
  /*TAB CONTROL FILES*/
  /*#######################################################################################################*/
  
  .filetab {
    float: left;
  }
  
    .filetab button {
      background-color: rgba(10,10,10, 0);
      font-size: 13px;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 5px 15px;
      transition: 0.3s;
      color: white;
      vertical-align: middle;
    }
  
      .filetab button:hover {
        background: rgb( 39, 106, 129 );
      }
  
  .tab button.active {
    background-color: rgb(180,180,180);
  }
  
  .tablinks i {
    color: rgb(100, 100, 100);
    float: right;
    margin-top: 2.2px;
  }
  
    .tablinks i:hover {
      color: red;
      transition: 0.3s;
    }
  
  /*#######################################################################################################*/
  /*TAB CONTROL*/
  /*#######################################################################################################*/
  .Contenedores12{
    width: 90%;
    height: 200vh;
    position: fixed;
    margin-left: 40%;
    margin-right: 20%;
  }
  .Contenedores{
    background-image: url('https://www.godfatherstyle.com/wp-content/uploads/2016/01/6794809-free-vintage-backgrounds..jpg');
    width: 100%;
    height: 200vh;
    margin-left: 10%;
    margin-right: 10%;
  }
  .Contenedores2{
    background-image: url('https://www.solofondos.com/wp-content/uploads/2015/12/Fondos-de-madera-1024x640.jpg');
    width: 100%;
    height: 100vh;
    position: relative;
    margin-left: 10%;
    margin-right: 5%;
    overflow-x: scroll;
    overflow-y: scroll;
  }
  ul.tabs{
    width: 70%;
    background-color: #363636;
    list-style: none;
    display: flex;
  }
  ul.tabs li{
    width: auto;
  }
  ul.tabs li a{
    color:white;
    text-decoration: none;
    font-size: auto;
    text-align: center;
    display: block;
    padding: 5px 0px;
  }
  .active{
    background: #0984CC;
  }
  
  ul.tabs li a .tab-text{
    margin-left: 8px;
  }
  .secciones{
    will-change: 100%;
    width: 70%;
    background: rgba(54, 51, 51, 0.568);
  }
  .secciones article{
    padding: 10px;
  }
  .secciones article textarea{
    height:  90%;
    width: 99.99%;
    padding: 110px 40px;
  }
  .secciones article .TextoEntrada{
    background-color:white;
  }
  @media screen and (max-width: 700px){
    ul.tabs li{
      width: none;
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  @media screen and( max-width: 450px){
    ul.tabs li a{
      padding: 15px 0px;
    }
    ul.tabs li a .tab-text{
      display: none;
    }
    .secciones article{
      padding: 40px;
    }
  }
  /*######################################################################################
                      boton
  #######################################################################################*/
  a {
    text-decoration:none;
    color:#FFF;
  }
  .rainbow-button {
    width:calc(8vw + 3px);
    height:calc(2vw + 3px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:0.5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:0.7vw;
    text-align: center;
    font-weight:bold;
  }
  .rainbow-button:after {
    content:attr(alt);
    width:8vw;
    height:2vw;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button:hover {
    animation:slidebg 2s linear infinite;
  }
  
  @keyframes slidebg {
    to {
      background-position:8vw;
    }
  }
  .rainbow-button1 {
    width:calc(8vw + 3px);
    height:calc(2vw + 3px);
    background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
    border-radius:0.5px;
    display:flex;
    align-items:center;
    justify-content:center;
    text-transform:uppercase;
    font-size:0.7vw;
    text-align: center;
    font-weight:bold;
  }
  .rainbow-button1:after {
    content:attr(alt);
    width:8vw;
    height:2vw;
    background-color:#191919;
    display:flex;
    align-items:center;
    justify-content:center;
  }
  .rainbow-button1:hover {
    animation:slidebg 2s linear infinite;
  }
  /**********************************************************************************************
                          HTML A JSON
  **********************************************************************************************/
  
  table.Tablas tr td{
    width: 68.5%;
    height: 10%;
  }
  .Phyton_seccion{
    will-change: 100%;
    width: 100%;
    background: rgba(54, 51, 51, 0.568);
  }
  .Phyton_seccion article{
    padding: 5px;
  }
  .Phyton_seccion article textarea{
    height:  80%;
    width: 99.99%;
    padding: 125px 10px;
  }
  ul.tabs1{
    width: 250%;
    background-image: linear-gradient(90deg, rgb(105, 245, 240) 5%, rgb(251, 255, 31) 50%,rgb(188, 255, 31) 60%, #FC4F4F 70%, rgb(105, 245, 240) 100%);
    display:flex;
    list-style: none;
    display: flex;
  }
  ul.tabs1 li{
    width: 18%;
  }
  ul.tabs1 li a{
    color:white;
    text-decoration: none;
    font-size: auto;
    text-align: center;
    display: block;
    padding: 5px 0px;
  }
  ul.tabs1 li a .tab-text1{
    margin-left: 25px;
  }
  .secciones1{
    will-change: 100%;
    width: 226%;
    background: rgba(54, 51, 51, 0.568);
  }
  .secciones1 article{
    padding: 5px;
  }
  .secciones1 article textarea{
    height:  80%;
    width: 99.99%;
    padding: 110px 28px;
  }
  @media screen and (max-width: 700px){
    ul.tabs1 li{
      width: none;
      flex-basis: 0;
      flex-grow: 1;
    }
  }
  @media screen and( max-width: 450px){
    ul.tabs1 li a{
      padding: 17px 0px;
    }
    ul.tabs1 li a .tab-text1{
      display: none;
    }
    .secciones1 article{
      padding: 30px;
    }
    .Phyton_seccion article{
      padding: 20px;
    }
  }
  /*
              OTROS BOTONES
  */
  /*$fuschia: #ff0081;
  $button-bg: $fuschia;
  $button-text-color: #fff;
  $baby-blue: #f8faff;*/
  
  .share{
    display:block;
    width:60px;
    height:60px;
    background:#ff9100;
    top:450px;
    left:50%;
    z-index:999;
    text-align:center;
    overflow:hidden;
    line-height:65px;
    font-size:1.5em;
    color:#fff;
    -moz-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.5);
  box-shadow: 0px 3px 9px rgba(0,0,0,.5);
    border-radius:50px;
    -webkit-transform:translate(-70%,-50%);
    transform:translate(5%,5%);
  }
  
  .share:hover{
    cursor:pointer;
  }
  
  .one, .two, .three{
    position:absolute;
    width:50px;
    height:50px;
    color:#fff;
    border-radius:40px;
    text-align:center;
    line-height:49px;
    font-size:1.5em;
     top:450px;
     -webkit-transform:translate(-100%,-100%);
    transform:translate(100%,-40%);
    -webkit-box-shadow: 0px 3px 9px rgba(0,0,0,.2);
  box-shadow: 0px 3px 9px rgba(0,0,0,.2);
    -webkit-transition:transform  .3s ease-in-out;
    transition:transform .3s ease-in-out;
  }
  
  .one:hover, 
  .two:hover,
  .three:hover{
    cursor:pointer;
  }
  
  .one i, .two i, .three i{
    display:none;
  }
  
  
  .one{
    background:#2196f3;
  }
  
  .two{
    background:#00e5ff;
  }
  
  .three{
    background:#6a1b9a;
  }
  
  /*//////////////////////////////////  ARBOLES  ////////////////////////////////////////////////////*/
  /* Remove default bullets */
  #tablitalex li {
    
    list-style-position: outside;
    padding-left: 1em;
  }
  #tablitalex ul{
    
    list-style-position: outside;
    padding-left: 10px;
  }
  ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }
  
  
  